body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

body.dark-theme a {
    color: #bb86fc;
}

body.dark-theme header {
    background-color: #121212;
}

body.dark-theme .navbar-icon {
    color: #ffffff;
}

body.white-theme {
    background-color: #ffff;
    color: #000;
}

body.white-theme a {
    color: #000;
}

body.white-theme header {
    background-color: #fff;
}

body.white-theme .navbar-icon {
    color: #000;
}