body.dark-theme {
    transition: background-color ease 0.5s;
    background-color: #121212;
    color: #ffffff;
}

body.dark-theme a {
    color: #ffffff;
    display: inline-block;
    margin-right: 20px;
    font-size: 1.2em;
}

body.dark-theme a:hover{
    transition: transform ease 0.3s;
    transform: scale(1.1);
    color: #9370DB;
}

body.dark-theme header {
    transition: background-color ease 0.5s;
    background-color: #121212;
}

body.dark-theme .navbar-icon {
    color: #ffffff;
}

body.white-theme {
    transition: background-color ease 0.5s;
    background-color: #ffff;
    color: #000;
}

body.white-theme a {
    color: #000;
}

body.white-theme a:hover{
    transition: transform ease 0.3s;
    transform: scale(1.1);
    color: #24b1e9;
}

body.white-theme header {
    transition: background-color ease 0.5s;
    background-color: #fff;
}

body.white-theme .navbar-icon {
    color: #000;
}