body {
    margin: 0;
}

#dark-mode-toggle {
    transition: transform 0.2s;
    margin-left: auto;
    width: 30px;
    height: 30px;
    float: right;
}

#dark-mode-toggle:hover {
    transform: scale(1.1);
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end; 
    padding: 10px;
    margin-top: 10px; 
}

#main-img {
    position: absolute;
    left: 17%;
    transform: rotate(-50%, -50%);
    border-radius: 50%; 
    overflow: hidden;
    width: 200px; 
    height: 200px; 
}

#main-img img {
    width: 100%; 
    height: auto; 
}

#tittle-body{
    text-align: center;
}

#tittle-body{
    margin-bottom: 20px;
}


#nav-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto;
    width: 50%;
    margin-left: 25%;
}

.div-body {
    display: inline-block;
    vertical-align: top; /* Isso alinhará o topo das divs */
}

#tittle-body, #canvas {
    padding-right: 20px; 
    padding-left: 20px;
}